<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="js/site.js"></script>
</head>
<body>
	<h1>{{ title }}</h1>
	<p>Bla</p>
	<div class="content">
		{{{ content }}}
	</div>
</body>
</html>